### dict.get(key,defaultreturn)

In [13]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock',
               'holmes','the','great']
word_counter ={}
for word in book_title:
    word_counter[word] = word_counter.get(word, 0) + 1
word_counter

{'great': 2,
 'expectations': 1,
 'the': 2,
 'adventures': 1,
 'of': 1,
 'sherlock': 1,
 'holmes': 1}

In [54]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
        
       }
for key in cast:
    print(key)

Jerry Seinfeld
Julia Louis-Dreyfus

### dict.items()

In [12]:
for key,value in cast.items():
    print(f'Actor:{key} Role:{value}')

Actor:Jerry Seinfeld Role:Jerry Seinfeld
Actor:Julia Louis-Dreyfus Role:Elaine Benes
Actor:Jason Alexander Role:George Costanza
Actor:Michael Richards Role:Cosmo Kramer

### dict.values()

In [15]:
for value in cast.values():
    print(value)

Jerry Seinfeld
Elaine Benes
George Costanza
Cosmo Kramer

In [53]:
number = 6   
product = 1
for i in range(1,number+1):
    product *= i
product

720

### zip and enumerate

In [19]:
point = (1, 2, 3, 4)
a, b, c, d = point  # Unpacking the values of point into individual variables a, b, c, d

In [20]:
point = (1, 2, 3, 4)
a, b, *rest = point  # Unpacking the first two values into a and b, and the rest into rest

In [23]:
x_coord = [23, 53]
y_coord = [677, 233]
z_coord = [4, 16]
labels = ["F", "J"]

points = []
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(*point))
points

['F: 23, 677, 4', 'J: 53, 233, 16']

In [49]:
person_names = ["Barney", "Robin"]
person_heights = [72, 68]

person = dict(zip(person_names, person_heights))
person

{'Barney': 72, 'Robin': 68}

In [50]:
person = list(person.items())
person

[('Barney', 72), ('Robin', 68)]

In [52]:
names,heights = zip(*person)
print(names)
print(heights)

('Barney', 'Robin')
(72, 68)

In [39]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = [list(row) for row in zip(*matrix)]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [42]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = tuple(zip(*matrix))
transposed

((1, 4, 7), (2, 5, 8), (3, 6, 9))

In [47]:
persons = ["Barney Stinson", "Robin Scherbatsky"]
heights = [72, 68]
for i,name in enumerate(persons):
    persons[i] = name + ' ' + str(heights[i])
persons

['Barney Stinson 72', 'Robin Scherbatsky 68']