### dict.get(key,defaultreturn)

In [13]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock',
               'holmes','the','great']
word_counter ={}
for word in book_title:
    word_counter[word] = word_counter.get(word, 0) + 1
word_counter

{'great': 2,
 'expectations': 1,
 'the': 2,
 'adventures': 1,
 'of': 1,
 'sherlock': 1,
 'holmes': 1}

In [54]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
        
       }
for key in cast:
    print(key)

Jerry Seinfeld
Julia Louis-Dreyfus

### dict.items()

In [12]:
for key,value in cast.items():
    print(f'Actor:{key} Role:{value}')

Actor:Jerry Seinfeld Role:Jerry Seinfeld
Actor:Julia Louis-Dreyfus Role:Elaine Benes
Actor:Jason Alexander Role:George Costanza
Actor:Michael Richards Role:Cosmo Kramer

### dict.values()

In [15]:
for value in cast.values():
    print(value)

Jerry Seinfeld
Elaine Benes
George Costanza
Cosmo Kramer

In [53]:
number = 6   
product = 1
for i in range(1,number+1):
    product *= i
product

720

### zip and enumerate

In [19]:
point = (1, 2, 3, 4)
a, b, c, d = point  # Unpacking the values of point into individual variables a, b, c, d

In [20]:
point = (1, 2, 3, 4)
a, b, *rest = point  # Unpacking the first two values into a and b, and the rest into rest

In [23]:
x_coord = [23, 53]
y_coord = [677, 233]
z_coord = [4, 16]
labels = ["F", "J"]

points = []
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(*point))
points

['F: 23, 677, 4', 'J: 53, 233, 16']

In [49]:
person_names = ["Barney", "Robin"]
person_heights = [72, 68]

person = dict(zip(person_names, person_heights))
person

{'Barney': 72, 'Robin': 68}

In [50]:
person = list(person.items())
person

[('Barney', 72), ('Robin', 68)]

In [52]:
names,heights = zip(*person)
print(names)
print(heights)

('Barney', 'Robin')
(72, 68)

In [39]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed = [list(row) for row in zip(*matrix)]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [42]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = tuple(zip(*matrix))
transposed

((1, 4, 7), (2, 5, 8), (3, 6, 9))

In [55]:
persons = ["Barney Stinson", "Robin Scherbatsky"]
heights = [72, 68]
for i,name in enumerate(persons):
    persons[i] = name + ' ' + str(heights[i])
persons

['Barney Stinson 72', 'Robin Scherbatsky 68']

In [57]:
lst_compr = [x ** 2 for x in range(9)]
lst_compr

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [59]:
lst_compr = [x**2 for x in range(9) if x%2 == 0]
lst_compr

[0, 4, 16, 36, 64]

In [60]:
lst_compr = [x**2 if x%2 == 0 else x**3 for x in range(9)]
lst_compr

[0, 1, 4, 27, 16, 125, 36, 343, 64]

In [61]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [name for name,score in scores.items() if score>=65] # write your list comprehension here
passed

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [ ]:
from collections import Counter

In [103]:

winners = [{1990:['a','d','r','s'],
            2000:['w','d','e','s'],
            2010:['a','e','r','g']}]
all_winners =[element for winner in winners for sublist in winner.values() for element in sublist]
output ={name : all_winners.count(name)for name in set(all_winners)}
output

{'a': 2, 'd': 2, 's': 2, 'e': 2, 'g': 1, 'r': 2, 'w': 1}

In [104]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

single_list = [element for sublist in nested_list for element in sublist]
single_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [128]:
nominated = {
    1990: ['a', 'd', 'r', 's'],
    2000: ['w', 'd', 'e', 's'],
    2010: ['a', 'e', 'r', 'g']
}
# add 1 to value every time director appears in current list of directors
nom_count_dict = {
                  director: sum(1 for curr_lst_dir in nominated.values() if director in curr_lst_dir)
                  for lst in nominated.values()
                  for director in lst
                                }

print(nom_count_dict)

{'a': 2, 'd': 2, 'r': 2, 's': 2, 'w': 1, 'e': 2, 'g': 1}

In [133]:
daysglo =21
def readable_timedelta(days):
    days=daysglo
    weeks=days//7
    day=days%7
    output = '{} week(s) and {} day(s)'.format(weeks,day)
    return output
print(readable_timedelta(1))

3 week(s) and 0 day(s)

###docstring

In [ ]:
class Pants:
    """The Pants class represents an article of clothing sold in a store
    """

    def __init__(self, color, waist_size, length, price):
        """Method for initializing a Pants object

        Args: 
            color (str)
            waist_size (int)
            length (int)
            price (float)

        Attributes:
            color (str): color of a pants object
            waist_size (str): waist size of a pants object
            length (str): length of a pants object
            price (float): price of a pants object
        """

        self.color = color
        self.waist_size = waist_size
        self.length = length
        self.price = price

    def change_price(self, new_price):
        """The change_price method changes the price attribute of a pants object

        Args: 
            new_price (float): the new price of the pants object

        Returns: None

        """
        self.price = new_price

    def discount(self, percentage):
        """The discount method outputs a discounted price of a pants object

        Args:
            percentage (float): a decimal representing the amount to discount

        Returns:
            float: the discounted price
        """
        return self.price * (1 - percentage)